{% extends 'base.html' %}

{% block title %}{{ title }} - Reality Chance{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4 text-center mb-4">{{ title }}</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome to Reality Chance</h5>
                <p class="card-text">This is your new Django project. Start building your application here!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 